---
/* Astro components imports */
import Layout from "../layouts/layout.astro";
/* React j/tsx components imports */
import Header from "../components/ui-layout/header/header";
import Home from "../components/ui-layout/section/home/home";
---

<Layout title="Portfolio">
  <Header client:only />
  <main><Home client:only /></main>
</Layout>