---
/* Astro components imports */
import Header from "../components/ui-layout/header/header";
import Layout from "../layouts/layout.astro";
/* React j/tsx components imports */
import RocketAnimation from "../components/animations/rocketAnimation.jsx";
---

<Layout title="Portfolio">
  <Header client:only />

  <main>
    <RocketAnimation client:only />
  </main>
</Layout>
../components/animations/rocketAnimation.jsx